@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #245f92;
  background-color: #f1f1f1;
  font-family: "Roboto", sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  padding: 0 40px;
  background-color: #f1f1f1;
}

.logo {
  font-size: 20px;
  color: #245f92;
  vertical-align: 0 auto;
}

.white-button {
  display: block;
  width: 100px;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: #245f92;
  border: 2px solid #245f92;
  font-weight: bold;
}

.blue-button {
  display: inline-block;
  width: 130px;
  height: auto;
  background-color: #245f92;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: #f1f1f1;
  font-weight: bold;
}

div {
  text-align: center;
  margin: 25px auto;
  border: #333333 2px solid;
  padding: 20px 50px;
}
div #phone {
  width: 70%;
  margin: 40px;
}
div h1 {
  color: #00e0f0;
  font-size: 35px;
  margin: 20px 0;
}
div h2 {
  font-size: 30px;
  color: #245f92;
  margin: 30px 0;
}
div h3 {
  font-size: 25px;
  color: #00e0f0;
  margin: 30px 0;
}
div p {
  margin: 30px 0;
  font-size: 18px;
}

.graphic {
  text-align: center;
  display: flex;
  padding: 0;
}